*{
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #e7e2e4;
}
/* Header */
header {
  background: linear-gradient(500deg,#e44390 , #f1ad53, rgba(31, 142, 156, 0.9),rgba(236, 94, 229, 0.9));
  padding: 3px;
  text-align: center;
  width: 100vw;
  z-index: 1000;
}
/* .header{
  color: #bd2bab;
    text-align: center;
    font: 1.5em "Gloria Hallelujah";
    font-style: normal;
    padding-top: 10vh;
    margin: -13vh 8vw 0vh 19vw;
    width: 10vw;
} */
.hipervinculo{
  
  text-decoration: none;
  margin-left: 50px;
}

.menu{
  display:inline-block;
  vertical-align: middle;
}

.menu ul{
  float: right;
  margin-right: 20px;
  margin-top: 4vh;

}
.menu ul li{
  display: inline-block;
  line-height: 120px;
  margin: 0 5px;
}
.menu ul li:hover{
  transform: scale(1.1);

}
.menu ul li a{
  color: purple;
  font-size: 16px;
  padding: 7px 13px;
  border-radius: 3px;
  transition: .3s linear;
}
.menu ul li a:hover{
  color: #084911;
  transform: scale(1.1);
}

.checkbtn{
  font-size: 30px;
  float: right;
  margin-left: 325px;
  line-height: 70px;
  cursor: pointer;
  display: none;
}

#check{
  display: none;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
h1 {
  color: #bd2bab;
  text-align: center;
  font: 2em "Gloria Hallelujah";
  font-style: normal;
  padding-top: 10vh;
  margin: -13vh 8vw 0vh 10vw;
  width: 73vw;
}

@keyframes scrollBanner {
  0% { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}

.marquee {
    animation: scrollBanner 20s linear infinite;
    white-space: nowrap;
    width: 98vw;
    height: 33vh;
    margin: 1vh 0vw -5vh 12vw;
    text-shadow: 
}
/* #title{
    width: 98vw;
    height: 50vh;
    margin: 1vh 0vw -8vh 0vw;
    font: 1.5rem "Oxanium", sans-serif;
    font-style: normal;
} */
.seccion {
  background-color: #fff;
  padding: 20px;
  margin: 20px;
  border: 1px solid #bd2bab;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: calc(33.33% - 20px);
}
h2 {
  color:#e44390;
  margin: 4vh 8vw 8vh 6vw;
  text-align: center;
  font-size: 1.5em;
  font-family: Arial, sans-serif;
}
#enfoque {
  font-size: 1em;
  font-family: Arial, sans-serif;
  text-align: justify;
  margin: 3vh;
} 
.lista{
  font-size: 1em;
  font-family: Arial, sans-serif;
  text-align: justify;
  margin: 6vh;
}
#hobbies{
  color: #e44390;
    margin-top: 0;
    text-align: center;
    font-size: 1.5em;
    font-family: Arial, sans-serif;
    margin: -2vh -100vw 0vh 5vw;
    padding-left: 18vw;
}
.contenedor-cards {
  width: 78vw;
  height: auto;
  margin-top: -48vh;
}

.contenedor-grid-card {
    width: 98vw;
    height: auto;
    margin-top: 4vh;
    display: grid;
    grid-template-columns: repeat(4, 400px);
    grid-template-rows: repeat calc(33.33% - 20px)1, auto;
    justify-content: center;
    column-gap: 2vw;
    gap: 22px;
    padding: 22px;
    margin-left: -29vw;
}
.grid-item {
  box-shadow: 2px 2px 2px 2px rgb(91, 90, 90);
  text-align: center;
  border-radius: 0.5%;
  padding: 20px;
  margin: 10vh 0.5vw 5vh 0.5vw;
}
h3 {
  color: black;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.subtitle {
    text-align: center;
    color: #e44390;
    font-size: 2vw;
    padding: 0vw;
}

.subtitle h3{
    color:navy;
}
.campo-img {
  text-align: center;
  align-items: center;
  margin: 5vh 0vw 5vh -0.5vw;
}
.seccion p {
  color: darkslategray;
  margin-bottom: 20px;

}
.text{
    font: 1em Arial, sans-serif;
    font-optical-sizing: auto;
    color: darkslategray;
    text-align: justify;
    text-indent: 5em;
    margin: 10px;
    padding: 5px;
}
#analisis{
    font: 1em Arial, sans-serif;
    font-optical-sizing: auto;
    color: darkslategray;
    text-align: justify;
    text-indent: 5em;
    margin: 0vh -18vw 0vh -20vw;
    padding: 10px;
}
button {
  background-color: #bd2bab;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #b92ead;
}

.text1{
    font: 1rem Arial, sans-serif;
    color: darkslategray;
    text-align: justify;
    text-indent: 0em;
    margin: 10px;
    padding: 5px;
}
#academico {
  font: 3vh Arial, sans-serif;;
  font-optical-sizing: auto;
  font-style: normal;
  color: #b92ead;
  text-align: center;
  text-indent: 5em;
  margin-top: 10vh;
  padding: 5px;
  width: 100vw;
  height: auto;
}

.estudios{
  font: 1rem Arial, sans-serif;
  text-align: justify;
  color: darkslategray;
  text-indent: 0em;
  padding: 2px;
  margin: 5vh 0vw 0vh 3vw;
  
}
.estudios ul li{
  text-decoration: none;
  margin: 6vh 15vw 0vh 4vw;
}

/* Información básica */

.informacion-basica{
  text-decoration: none;
  text-align: justify;
  font: 1em "Gloria Hallelujah";
  font-style: normal;
  padding-top: 10vh;
  margin: 1vh 11vw 5vh 0vw;
  width: 55vw;
}
.informacion-basica ul li{
  text-decoration: none;
  margin: 1vh 5vw 5vh 10vw;
}
ul li{
  text-decoration: none;
}
.datos{
    text-align: justify;
    color: darkslategray;
    text-indent: 0em;
    padding: 2px;
    margin: 5vh 0vw 0vh 0vw;
  
}

.respuesta{
    font: 1rem Arial, sans-serif;
    color: darkslategray;
    text-align: justify;
    text-indent: 0em;
    margin: 7px;
    padding: 5px;
}
.detalle{
  color: darkslategray;
    text-align: right;
    font-style: normal;
    padding-top: 7vh;
    margin: 19vh 0vw 0vh 5vw;
    width: 17vw;
}

h6{
  color: #bd2bab;
    text-align: center;
    font: 1.5em "Gloria Hallelujah";
    font-style: normal;
    padding-top: 11vh;
    margin: -13vh 4vw 0vh 0vw;
}

footer p {
  text-align: center;
}

footer{
  position: absolute;
  background: linear-gradient(500deg, #e44390, #f1ad53, rgba(31, 142, 156, 0.9), rgba(236, 94, 229, 0.9));
  width: 98vw;
  height: 53vh;
  padding: 1%;
  display: flex;
  justify-content: center;
  color: #ffffff;
  
}


.contenedor-imagen {
  text-align: center;
  width: 100%;
  margin-top: 50px;
}

h5{
    
    font-style: inherit;
    padding: 0px;
    margin-left: 41vw;
    font-size: medium;
    transition: .3s linear;
}
.seccion-pie a{
    text-decoration: none;
}
#titulo-redes{
  text-align: center;
  margin-top: inherit;
  margin-left: 55px;
    padding-top: 20px;
  font: bolder 26px "Oxanium", sans-serif;
}
.redes-img {
    height: 40px;
    padding: 6vh 2vw 2vh 2vw;
    margin: 10px 150px 8px 80px;
    
}
